{% load static %}
<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie ie9" lang="en-US">
   <![endif]-->
<html lang="en-US">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- Title-->
	<title>ERUPPAKKATTU -FAMILY WEBSITE</title>
	<!-- Favicon-->
	<link rel="icon" href="img/favicon.png" type="image/x-icon" />
	<!-- Stylesheets-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/shop.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all" />
	<!-- end head -->
</head>

{% block content %}
<body class="mobile_nav_class jl-has-sidebar">
	<div class="options_layout_wrapper jl_clear_at jl_radius jl_none_box_styles jl_border_radiuss jl_en_day_night">
		<div class="options_layout_container full_layout_enable_front">
			<header class="header-wraper jl_header_magazine_style two_header_top_style header_layout_style3_custom jl_cus_top_share">
				<div class="header_top_bar_wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="menu-primary-container navigation_wrapper">
									<ul id="jl_top_menu" class="jl_main_menu">
										<li class="menu-item current-menu-item current_page_item"> <a href="{% url 'home' %}">Home<span class="border-menu"></span></a>
										</li>
										<li class="menu-item menu-item-4278"> <a href="">About Us<span class="border-menu"></span></a>
										</li>
										<li class="menu-item menu-item-4279"> <a href="">special offer<span class="border-menu"></span></a>
										</li>
										<li class="menu-item menu-item-4275"> <a href="">Info!!<span class="border-menu"></span></a>
										</li>
									</ul>
								</div>
								<div class="jl_top_cus_social">
									<div class="menu_mobile_share_wrapper"> <span class="jl_hfollow">Share us</span>
										<ul class="social_icon_header_top jl_socialcolor">
											<li> <a class="facebook" href="#" target="_blank"><i class="jli-facebook"></i></a>
											</li>
											<li> <a class="vk" href="#" target="_blank"><i class="jli-vk"></i></a>
											</li>
											<li> <a class="telegram" href="#" target="_blank"><i class="jli-telegram"></i></a>
											</li>
											<li> <a class="behance" href="#" target="_blank"><i class="jli-behance"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start Main menu -->
				<div class="jl_blank_nav"></div>
				<div id="menu_wrapper" class="menu_wrapper jl_menu_sticky jl_stick">
					<div class="container">
						<div class="row">
							<div class="main_menu col-md-12">
								<div class="logo_small_wrapper_table">
									<div class="logo_small_wrapper">
										<!-- begin logo -->
										<a class="logo_link" href="{% url 'home' %}">
											<img class="jl_logo_n" src="{% static 'img/logo_n.png' %}" alt="sprasa" />
											<img class="jl_logo_w" src="{% static 'img/logo_w.png' %}" alt="sprasa" />
										</a>
										<!-- end logo -->
									</div>
								</div>
								<div class="search_header_menu jl_nav_mobile">
									<div class="menu_mobile_icons">
										<div class="jlm_w"><span class="jlma"></span><span class="jlmb"></span><span class="jlmc"></span>
										</div>
									</div>
									<div class="search_header_wrapper search_form_menu_personal_click"><i class="jli-search"></i>
									</div>
									<div class="jl_day_night jl_day_en"> <span class="jl-night-toggle-icon">
                                    <span class="jl_moon">
                                    <i class="jli-moon"></i>
                                    </span>
										<span class="jl_sun">
                                    <i class="jli-sun"></i>
                                    </span>
										</span>
									</div>
								</div>
								<div class="menu-primary-container navigation_wrapper jl_cus_share_mnu">
									<ul id="mainmenu" class="jl_main_menu">
										<li class="menu-item current-menu-item current_page_item"> <a href="{% url 'home' %}">Home<span class="border-menu"></span></a>
										</li>
										<li class="menu-item menu-item-has-children"> <a href=""> Features<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #222ddc !important;"><span class="jl_lb_ar" style="border-top: 3px solid #222ddc !important;"></span>New</span>
                                       </a>
											<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'tree' %}">Family Tree</a></li>
												<li class="menu-item"> <a href="post-format-standard.html">Family Heritage</span></a></li>
												<li class="menu-item"> <a href="{% url 'search' ' ' %}">Search Members<span class="border-menu"></span></a>
												</li>
											</ul>
										</li>
										<li class="menu-item"> <a href="{% url 'blog' %}">Blog<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="{% url 'gallery' %}">Gallery<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="{% url 'events' %}">Family Events<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #f74539 !important;"><span class="jl_lb_ar" style="border-top: 3px solid #f74539 !important;"></span>Hot!</span>
                                       </a>

										</li>
										<li class="menu-item menu-item-has-children"> <a href="{% url 'myprofile' %}">My Profile<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #ffe500 !important; color: #000000 !important;"><span class="jl_lb_ar" style="border-top: 3px solid #ffe500 !important;"></span>YOU</span>
                                       </a>
											<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'myprofile' %}">Account Details<span class="border-menu"></span></a>
												</li>
												<li class="menu-item"> <a href="{% url 'logout' %}">Logout<span class="border-menu"></span></a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="mobile_menu_overlay"></div>
				<div id="content_nav" class="jl_mobile_nav_wrapper">
				<div id="nav" class="jl_mobile_nav_inner">
					<div class="menu_mobile_icons mobile_close_icons closed_menu"> <span class="jl_close_wapper"><span class="jl_close_1"></span><span class="jl_close_2"></span></span>
					</div>
					<ul id="mobile_menu_slide" class="menu_moble_slide">
						<li class="menu-item current-menu-item current_page_item"> <a href="{% url 'home' %}">Home<span class="border-menu"></span></a>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="#">Features<span class="border-menu"></span></a>
							<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'tree' %}">Family Tree</a></li>
												<li class="menu-item"> <a href="post-format-standard.html">Family Heritage</span></a></li>
												<li class="menu-item"> <a href="{% url 'search' ' ' %}">Search Members<span class="border-menu"></span></a>
												</li>
											</ul>
						</li>
						<li class="menu-item"> <a href="{% url 'blog' %}">Blog<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="{% url 'gallery' %}">Gallery<span class="border-menu"></span></a>
										</li>
										<li class="menupost"> <a href="{% url 'events' %}">Family Events<span class="border-menu"></span>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="{% url 'myprofile' %}">My Profile<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #ffe500 !important; color: #000000 !important;"><span class="jl_lb_ar" style="border-top: 3px solid #ffe500 !important;"></span>YOU</span>
                                       </a>
											<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'myprofile' %}">Account Details<span class="border-menu"></span></a>
												</li>
												<li class="menu-item"> <a href="{% url 'logout' %}">Logout<span class="border-menu"></span></a>
												</li>
											</ul>
										</li>
					</ul>
					<div id="sprasa_recent_post_text_widget-11" class="widget post_list_widget">
						<div class="widget_jl_wrapper">
							<div class="ettitle">
								<div class="widget-title">
									<h2 class="jl_title_c">Recent Posts</h2>
								</div>
							</div>
							<div class="bt_post_widget">
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Best inspire dark photo in the winter season</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Your job will be perfect if you concentrate</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Enjoy the best time with a special person</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="search_form_menu_personal">
				<div class="menu_mobile_large_close"> <span class="jl_close_wapper search_form_menu_personal_click"><span class="jl_close_1"></span><span class="jl_close_2"></span></span>
				</div>
				<form method="post" class="searchform_theme">
					{% csrf_token %}
					<input type="text" placeholder="Search..." value="" name="s" class="search_btn" />
					<button type="submit" class="button"><i class="jli-search"></i>
					</button>
				</form>
			</div>
			<div class="mobile_menu_overlay"></div>
			<div class="jl_home_bw">




				<section class="home_section1">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="jl_mright_wrapper jl_clear_at">
									<div class="jl_mix_post">




										{% for adminpost in adminpost %}
										<div class="jl_m_center blog-style-one blog-small-grid">
											<div class="jl_m_center_w jl_radus_e">
												<div class="jl_f_img_bg" style="background-image: url('{{adminpost.thumbnail.url}}');"></div>
												<a href="homehome/{{adminpost.title}}+title" class="jl_f_img_link"></a> <span class="jl_post_type_icon"><i class="jli-gallery"></i></span>
												<div class="text-box"> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #eba845;" href="blogblogview/{{adminpost.title}}+title">{{adminpost.tag}}</a></span>
													<h3>
                                                                                 <a href="blogblogview/{{adminpost.title}}+title">{{adminpost.title}}</a>
                                                                              </h3>
													<span class="jl_post_meta">
                                                                              <span class="jl_author_img_w"><i class="jli-user"></i><a href="blogblogview/{{adminpost.title}}+title" title="Posts by Spraya" rel="author">{{adminpost.author}}</a></span>
													<span class="post-date"><i class="jli-pen"></i>{{adminpost.timestamp}}</span>
													<span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span>
													</span>
												</div>
											</div>
										</div>
										{% endfor %}




										{% for users in users %}
										<div class="jl_m_right">
											<div class="jl_m_right_w">
												<div class="jl_m_right_img jl_radus_e">
													<a href="{% url 'sresult' users.id %}">
														<img width="120" height="120" src="{{users.photo.url}}" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
													</a>
												</div>
												<div class="jl_m_right_content"> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #91bd3a;" href="#">New User</a></span>
													<h3 class="entry-title"><a href="{% url 'sresult' users.id %}">{{users.first_name}} {{users.middle_name}} {{users.last_name}}</a></h3>
													<span class="jl_post_meta">
                                                                              <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">{{users.user.username}}</a></span>
													<span class="post-date"><i class="jli-pen"></i>{{users.user.last_login}}</span>
													</span>
												</div>
											</div>
										</div>
										{% endfor %}





									</div>
								</div>
							</div>
						</div>
					</div>
				</section>




				<section class="home_section2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div id="blockid_72be465" class="block-section jl-main-block" data-blockid="blockid_72be465" data-name="jl_mgrid" data-page_max="11" data-page_current="1" data-author="none" data-order="date_post" data-posts_per_page="6" data-offset="5">
									<div class="jl_grid_wrap_f jl_clear_at g_3col">
										<div class="jl-roww content-inner jl-col3 jl-col-row">
											<div class="jl_sec_title">
												<h3 class="jl_title_c"><span>Latest Blog Posts.</span></h3>
												<p>More Blog posts by memebers on Blog section!</p>
											</div>


											{% for post in post %}
											<div class="jl-grid-cols">
												<div class="p-wraper post-2959">
													<div class="jl_grid_w">
														<div class="jl_img_box jl_radus_e">
															<a href="blogblogview/{{post.title}}+title"> <span class="jl_post_type_icon"><i class="jli-gallery"></i></span>
																<img width="500" height="350" src="{{post.thumbnail.url}}" class="attachment-sprasa_slider_grid_small size-sprasa_slider_grid_small wp-post-image" alt="" loading="lazy">
															</a> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #62ce5c;" href="#">{{post.tag}}</a></span>
														</div>
														<div class="text-box">
															<h3><a href="blogblogview/{{post.title}}+title">{{post.title}}</a></h3>
															<span class="jl_post_meta">
                                                                                    <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">{{post.author}}</a></span>
															<span class="post-date"><i class="jli-pen"></i>{{post.timestamp}}</span>
															<span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span>
															</span>
															<p>{{post.overview | safe}}</p>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}

										</div>
										<div class="jl_lmore_wrap">
											<div class="jl_lmore_c"> <a href="{% url 'blog' %}" class="jl-load-link"><span>load more</span></a>
												<span class="jl-load-animation"><span></span></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>




				<section class="home_section5">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div id="blockid_5ee403b" class="block-section jl-main-block">
									<div class="jl_slide_wrap_f jl_clear_at">
										<div class="jl-roww content-inner jl-col-none jl-col-row">
											<div class="jl_sec_title">
												<h3 class="jl_title_c"><span>Advertisements</span></h3>
												<p>Section for advertisements</p>
											</div>
											<div class="jl_ar_top">
												<div class="jl-w-slider jl_full_feature_w">
													<div class="jl-eb-slider jelly_loading_pro" data-arrows="true" data-play="true" data-effect="false" data-speed="500" data-autospeed="7000" data-loop="true" data-dots="true" data-swipe="true" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-xl-items="1">
														<div class="item-slide jl_radus_e">
															<div class="slide-inner">
																<div class="jl_full_feature">
																	<div class="jl_f_img_bg" style="background-image: url('img/1920x800.png')"></div>
																	<a href="#" class="jl_f_img_link"></a>
																	<div class="jl_f_postbox"> <span class="jl_f_cat"><a class="post-category-color-text" style="background:#4dcf8f" href="#">Active</a></span>
																		<h3 class="jl_f_title">
                            <a href="#" tabindex="-1">Outdoor photo shooting with sexy and beautiful</a>
                        </h3>  <span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 24, 2019</span><span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span></span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item-slide jl_radus_e">
															<div class="slide-inner">
																<div class="jl_full_feature">
																	<div class="jl_f_img_bg" style="background-image: url('img/1920x800.png')"></div>
																	<a href="#" class="jl_f_img_link"></a>
																	<div class="jl_f_postbox"> <span class="jl_f_cat"><a class="post-category-color-text" style="background:#d66300" href="#">Science</a></span>
																		<h3 class="jl_f_title">
                            <a href="#" tabindex="-1">Hiding face is great way make you unique style</a>
                        </h3>  <span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 24, 2019</span><span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span></span>
																	</div>
																</div>
															</div>
														</div>
														<div class="item-slide jl_radus_e">
															<div class="slide-inner">
																<div class="jl_full_feature">
																	<div class="jl_f_img_bg" style="background-image: url('img/1920x800.png')"></div>
																	<a href="#" class="jl_f_img_link"></a>
																	<div class="jl_f_postbox"> <span class="jl_f_cat"><a class="post-category-color-text" style="background:#d66300" href="#">Science</a></span>
																		<h3 class="jl_f_title">
                            <a href="#" tabindex="-1">Music will be more attractive if have guitar sound</a>
                        </h3>  <span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 24, 2019</span><span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>



				<section class="home_section6">
					<div class="container">
						<div class="row">
							<div class="col-md-8 grid-sidebar" id="content">
								<div id="blockid_e3cb9ed" class="block-section jl-main-block" data-blockid="blockid_e3cb9ed" data-name="jl_mgrid" data-page_max="3" data-page_current="1" data-categories="4,6,9" data-author="none" data-order="date_post" data-posts_per_page="8">
									<div class="jl_grid_wrap_f jl_clear_at g_2col">
										<div class="jl-roww content-inner jl-col3 jl-col-row">
											<div class="jl_sec_title">
												<h3 class="jl_title_c"><span>New family Events!</span></h3>
												<p>For all the family events go to Family Events section!</p>
											</div>





											{% for events in events %}

											<div class="jl-grid-cols">
												<div class="p-wraper post-2818">
													<div class="jl_grid_w">
														<div class="jl_img_box jl_radus_e">
															<a href="{% url 'events' %}">
																<img width="486" height="350" src="{{events.pic.url}}" class="attachment-sprasa_slider_grid_small size-sprasa_slider_grid_small wp-post-image" alt="" loading="lazy">
															</a> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #d63447;" href="#">New</a></span>
														</div>
														<div class="text-box">
															<h3><a href="{% url 'events' %}">{{events.title}}</a></h3>
															<span class="jl_post_meta">
                                                                                    <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">{{events.author}}</a></span>
															<span class="post-date"><i class="jli-pen"></i>{{events.date}}</span>
															<span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span>
															</span>
															<p>{{events.content}}</p>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}


										</div>
										<div class="jl_lmore_wrap">
											<div class="jl_lmore_c"> <a href="{% url 'events' %}" class="jl-load-link"><span>load more</span></a>
												<span class="jl-load-animation"><span></span></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4" id="sidebar">
								<div class="jl_sidebar_w">
									<div id="sprasa_widget_social_counter_c-2" class="widget jl-widget-social-counter">
										<div class="widget-title">
											<h2 class="jl_title_c">Stay Connected</h2>
										</div>
										<div class="jl_social_counter social_counter_wraper jl_count_style_2 social_counter_item>">
											<div class="jlsocial-element jl-facebook jl_radus_e">
												<a target="_blank" href="https://facebook.com/envato" class="facebook" title="facebook"></a> <span class="jlsocial-element-left">
                            <i class="jli-facebook" aria-hidden="true"></i>
                            <span class="num-count">228.8k</span>
												</span> <span class="jlsocial-element-right">fans</span>
											</div>
											<div class="jlsocial-element jl-youtube jl_radus_e">
												<a target="_blank" href="https://www.youtube.com/user/envato " title="Youtube"></a> <span class="jlsocial-element-left">
                            <i class="jli-youtube" aria-hidden="true"></i>
                            <span class="num-count">65.5k</span>
												</span> <span class="jlsocial-element-right">subscribers</span>
											</div>
											<div class="jlsocial-element jl-vimeo jl_radus_e">
												<a target="_blank" href="https://vimeo.com/beeple" title="vimeo"></a> <span class="jlsocial-element-left">
                            <i class="jli-vimeo" aria-hidden="true"></i>
                            <span class="num-count">240</span>
												</span> <span class="jlsocial-element-right">subscribers</span>
											</div>
											<div class="jlsocial-element jl-pinterest jl_radus_e">
												<a target="_blank" href="https://pinterest.com/envato" class="pinterest" title="pinterest"></a> <span class="jlsocial-element-left">
                        <i class="jli-pinterest" aria-hidden="true"></i>
                        <span class="num-count">9.87k</span>
												</span> <span class="jlsocial-element-right">followers</span>
											</div>
										</div>
									</div>
									<div id="sprasa_recent_post_text_widget-9" class="widget post_list_widget">
										<div class="widget_jl_wrapper">
											<div class="ettitle">
												<div class="widget-title">
													<h2 class="jl_title_c">Art &amp; Fashion</h2>
												</div>
											</div>
											<div class="bt_post_widget">
												<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
													<div class="jl_m_right_w">
														<div class="jl_m_right_img jl_radus_e">
															<a href="#">
																<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
															</a>
														</div>
														<div class="jl_m_right_content">
															<h2 class="entry-title"> <a href="#" tabindex="-1">This place really good place for reading</a></h2>
															<span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 24, 2016</span></span>
														</div>
													</div>
												</div>
												<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
													<div class="jl_m_right_w">
														<div class="jl_m_right_img jl_radus_e">
															<a href="#">
																<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
															</a>
														</div>
														<div class="jl_m_right_content">
															<h2 class="entry-title"> <a href="#" tabindex="-1">Having fun with DJ and the best music drop</a></h2>
															<span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 24, 2016</span></span>
														</div>
													</div>
												</div>
												<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
													<div class="jl_m_right_w">
														<div class="jl_m_right_img jl_radus_e">
															<a href="#">
																<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
															</a>
														</div>
														<div class="jl_m_right_content">
															<h2 class="entry-title"> <a href="#" tabindex="-1">This guitar sound is so good and i need it more</a></h2>
															<span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 24, 2016</span></span>
														</div>
													</div>
												</div>
												<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
													<div class="jl_m_right_w">
														<div class="jl_m_right_img jl_radus_e">
															<a href="#">
																<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
															</a>
														</div>
														<div class="jl_m_right_content">
															<h2 class="entry-title"> <a href="#" tabindex="-1">Technology can make your live easy and fast</a></h2>
															<span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 24, 2016</span></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="sprasa_ads300x250_widget-2" class="widget jellywp_ads300x250_widget">
										<div class="widget_jl_wrapper ads_widget_container">
											<div class="widget-title">
												<h2 class="jl_title_c">Advertisement</h2>
											</div>
											<div class="ads300x250-thumb jl_radus_e">
												<a href="#">
													<img src="img/585x560.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>



					<section class="home_section2">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div id="blockid_72be465" class="block-section jl-main-block" data-blockid="blockid_72be465" data-name="jl_mgrid" data-page_max="11" data-page_current="1" data-author="none" data-order="date_post" data-posts_per_page="6" data-offset="5">
									<div class="jl_grid_wrap_f jl_clear_at g_3col">
										<div class="jl-roww content-inner jl-col3 jl-col-row">
											<div class="jl_sec_title">
												<h3 class="jl_title_c"><span>Latest Gallery Items.</span></h3>
												<p>More Gallery items by memebers on Gallery section!</p>
											</div>


											{% for gallery in gallery %}
											<div class="jl-grid-cols">
												<div class="p-wraper post-2959">
													<div class="jl_grid_w">
														<div class="jl_img_box jl_radus_e">
															<a href="gallerygallery_full/{{gallery.title}}+title"> <span class="jl_post_type_icon"><i class="jli-gallery"></i></span>
																<img width="500" height="350" src="{{gallery.thumbnail.url}}" class="attachment-sprasa_slider_grid_small size-sprasa_slider_grid_small wp-post-image" alt="" loading="lazy">
															</a> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #62ce5c;" href="gallerygallery_full/{{gallery.title}}+title">New</a></span>
														</div>
														<div class="text-box">
															<h3><a href="gallerygallery_full/{{gallery.title}}+title">{{gallery.title}}</a></h3>
															<span class="jl_post_meta">
                                                                                    <span class="jl_author_img_w"><i class="jli-user"></i><a href="gallerygallery_full/{{gallery.title}}+title" title="Posts by Spraya" rel="author">{{gallery.user}}</a></span>

															</span>
															<p>{{gallery.description}}</p>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}

										</div>
										<div class="jl_lmore_wrap">
											<div class="jl_lmore_c"> <a href="{% url 'gallery' %}" class="jl-load-link"><span>load more</span></a>
												<span class="jl-load-animation"><span></span></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<br>
				<br>
				<br>



			</div>
			<!-- end content -->
			<!-- Start footer -->
			<footer id="footer-container" class="jl_footer_act enable_footer_columns_dark">
				<div class="footer-bottom enable_footer_copyright_dark">
					<div class="container">
						<div class="row bottom_footer_menu_text">
							<div class="col-md-12">
								<div class="jl_ft_w">© Copyright 2020 Jellywp. All rights reserved powered by Jellywp
									<ul id="menu-footer-menu" class="menu-footer">
										<li class="menu-item menu-item-6"> <a title="" href="">About Us</a>
										</li>
										<li class="menu-item menu-item-7"> <a title="" href="">Private policy</a>
										</li>
										<li class="menu-item menu-item-8"> <a title="" href="">Forums</a>
										</li>
										<li class="menu-item menu-item-9"> <a title="" href="">Community</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer -->
			<div id="go-top"> <a href="#go-top"><i class="jli-up-chevron"></i></a>
			</div>
		</div>
	</div>
    {% endblock content %}

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/fluidvids.js' %}"></script>
	<script src="{% static 'js/slick.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>


</html>