{% extends 'gallery/gallery_main.html' %}
{% load static %}
{% block content1 %}

<div class="auth">
<h1 align="center">GALLERY</h1>
    <hr>
    <h5 align="center"> <a href="{% url 'addalbum' %}">-Click To Add Album-</a> </h5>

    <hr>
    <br>
</div>


	<div id="content_nav" class="jl_mobile_nav_wrapper">
				<div id="nav" class="jl_mobile_nav_inner">
					<div class="menu_mobile_icons mobile_close_icons closed_menu"> <span class="jl_close_wapper"><span class="jl_close_1"></span><span class="jl_close_2"></span></span>
					</div>
					<ul id="mobile_menu_slide" class="menu_moble_slide">
						<li class="menu-item current-menu-item current_page_item"> <a href="index.html">Home<span class="border-menu"></span></a>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="">Features<span class="border-menu"></span></a>
							<ul class="sub-menu">
								<li class="menu-item menu-item-has-children"> <a href="post-layout-1.html">Post Layout<span class="border-menu"></span></a>
									<ul class="sub-menu">
										<li class="menu-item"> <a href="post-layout-1.html">Post Layout 1<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-layout-2.html">Post Layout 2<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-layout-3.html">Post Layout 3<span class="border-menu"></span></a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"> <a href="post-format-standard.html">Post Format<span class="border-menu"></span></a>
									<ul class="sub-menu">
										<li class="menu-item"> <a href="post-format-standard.html">Post format standard<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-format-gallery.html">Post format gallery<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-format-quote.html">Post Format Quote<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-format-video.html">Post format video<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-format-audio.html">Post format audio<span class="border-menu"></span></a>
										</li>
									</ul>
								</li>
								<li class="menu-item"> <a href="author.html">Author Page<span class="border-menu"></span></a>
								</li>
								<li class="menu-item"> <a href="category.html">Category Page<span class="border-menu"></span></a>
								</li>
								<li class="menu-item"> <a href="page-404.html">Page 404<span class="border-menu"></span></a>
								</li>
							</ul>
						</li>
						<li class="menu-item"> <a href="inspiration.html">Inspiration<span class="border-menu"></span></a>
						</li>
						<li class="menu-item"> <a href="category.html">Active<span class="border-menu"></span></a>
						</li>
						<li class="menu-item"> <a href="business.html">Business<span class="border-menu"></span></a>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="shop.html">Shop<span class="border-menu"></span></a>
							<ul class="sub-menu">
								<li class="menu-item"> <a href="cart.html">Cart<span class="border-menu"></span></a>
								</li>
								<li class="menu-item"> <a href="my-account.html">My Account<span class="border-menu"></span></a>
								</li>
							</ul>
						</li>
					</ul>
					<div id="sprasa_recent_post_text_widget-11" class="widget post_list_widget">
						<div class="widget_jl_wrapper">
							<div class="ettitle">
								<div class="widget-title">
									<h2 class="jl_title_c">Recent Posts</h2>
								</div>
							</div>
							<div class="bt_post_widget">
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Best inspire dark photo in the winter season</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Your job will be perfect if you concentrate</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Enjoy the best time with a special person</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="sprasa_about_us_widget-3" class="widget jellywp_about_us_widget">
						<div class="widget_jl_wrapper about_widget_content">
							<div class="jellywp_about_us_widget_wrapper">
								<div class="social_icons_widget">
									<ul class="social-icons-list-widget icons_about_widget_display">
										<li> <a href="#" class="facebook" target="_blank"><i class="jli-facebook"></i></a>
										</li>
										<li> <a href="#" class="behance" target="_blank"><i class="jli-behance"></i></a>
										</li>
										<li> <a href="#" class="vimeo" target="_blank"><i class="jli-vimeo"></i></a>
										</li>
										<li> <a href="#" class="youtube" target="_blank"><i class="jli-youtube"></i></a>
										</li>
										<li> <a href="#" class="instagram" target="_blank"><i class="jli-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- partial:index.partial.html -->
<section id="portfolio">
    {% for gallery in gallery %}
    <div class="project">
      <img class="project__image" src="{{gallery.thumbnail.url}}" />
      <p>{{gallery.title}}</p>
      <h3 class="grid__title"> {{gallery.user}}</h3>
      <div class="grid__overlay">
          <form action="gallerygallery_full/{{gallery.title}}+title">
        <button >view more</button>
          </form>
      </div>
    </div>
    {% endfor %}


  </section>
<!-- partial -->

<div class="auth">
    <br>
    <br>
<hr>
</div>






















{% endblock content1 %}