@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
:root{
    --main-color:#ef3f48;
    --font-heading:Inter;
    --font-body:Arimo;
}
.home_section1{
     margin-top: 50px;
}
 .home_section2{
     margin-top: 50px;
}
 .home_section3{
     margin-top: 50px;
     background-color: #FFF5F3;
     padding: 45px 0px 30px 0px;
}
 .home_section4{
     margin-top: 50px;
}
 .home_section5{
     margin-top: 10px;
}
 .home_section6{
     margin-top: 50px;
}
 .home_section7{
     margin-top: 50px;
     margin-bottom: 10px;
}
 .options_dark_skin .home_section3{
     background: #000;
}
 .jl_full_feature .jl_post_meta span a:hover{
     color: #fff !important;
}
 .tagcloud a:hover,.tag-cat a:hover .current.pagination_page, .pagination>a:hover, .tag-cat a:hover, .comment-reply-link:hover, .comment-edit-link:hover, .email_subscribe_box .buttons:hover, .jelly_homepage_builder .large_continue_reading span a:hover, .pop_post_right_slider .headding_pop_post, .menu_post_feature .builder_cat_title_list_style, .cfs_from_wrapper .cfs_submit input, .post_list_widget .recent_list_item_number, .recent_post_large_widget .recent_list_item_number, #commentform #submit:hover, .wpcf7-form-control.wpcf7-submit:hover, .single_post_tag_layout li a:hover, .jellywp_pagination ul li span, .jellywp_pagination ul li a:hover, .woocommerce .product .onsale, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .pagination-more div a, .header_layout_style3_custom .header_top_bar_wrapper .search_header_menu .search_header_wrapper, .header_layout_style3_custom .header_top_bar_wrapper .search_header_menu .menu_mobile_icons, .magazine_3_grid_slider .jelly_pro_post_arrow_right:hover, .magazine_3_grid_slider .jelly_pro_post_arrow_left:hover, .jellywp_home_builder_carousel_post .jelly_pro_post_arrow_left:hover, .jellywp_home_builder_carousel_post .jelly_pro_post_arrow_right:hover, .full-slider-main-home .jelly_pro_post_arrow_left:hover, .full-slider-main-home .jelly_pro_post_arrow_right:hover,.woocommerce-mini-cart__buttons .button:hover, .woocommerce-cart .woocommerce-cart-form .actions button.button:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled[disabled]:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce-checkout .checkout_coupon button.button:hover,.woocommerce-page #payment #place_order:hover,.woocommerce div.product form.cart .button:hover,.woocommerce-cart .return-to-shop a.button:hover,.woocommerce .woocommerce-orders-table__cell a.button:hover,.woocommerce-MyAccount-content .woocommerce-Button.button:hover,.wp-block-button .wp-block-button__link:hover, .options_layout_wrapper wp-block-file__button:hover,.options_layout_wrapper .wp-block-file .wp-block-file__button:hover, .wp-block-search .wp-block-search__button:hover,.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover,.jl_lmore_c:hover,.jl_count_cart,#go-top a:hover, .woocommerce-mini-cart-item a.remove.remove_from_cart_button:hover, .page_error_404 .link_home404:hover, .woocommerce-message .button.wc-forward:hover{
     background: var(--main-color) !important;
}
 .content_single_page a:hover, a:hover, #nextpost:hover, #prepost:hover, .blog_large_post_style .large_post_content a:hover, .loop-large-post .post_content a:hover, .loop-large-post .post_content a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .post-meta a:hover, .large_post_share_icons li a:hover, .post_large_footer_meta .post_tag_footer a:hover, .post_large_footer_meta .post_comment_footer a:hover, .post_large_footer_meta .post_love_footer a:hover, .comment-meta .comment-author-date:hover, .comment-meta .comment-author-date:hover time, .post-meta-bot .love_post_view a:hover, .post-meta-bot .meta-comment a:hover, .meta_category_text_small a, .logged-in-as a:hover, .single-post-meta-wrapper span a:hover, .header_layout_style5_custom .jl_random_post_link:hover, .header_layout_style5_custom #mainmenu > li > a:hover, .home_slider_post_tab_nav .slick-list .item.slick-current h5, .builder_cat_title_list_style li.current_cat_post, li.woocommerce-mini-cart-item a:not(.remove):hover{
     color: var(--main-color) !important;
}
 .breadcrumbs_options a{
     color: #000 !important;
}
 .loop-large-post .post_content a, .content_single_page a, .comment-content.comment a{
     color: var(--main-color);
     text-decoration: underline !important;
}
 .pop_post_right_slider .slider_pop_post_list_items .featured_thumbnail_link{
     border-left: 7px solid var(--main-color) !important;
}
 .blog_large_post_style .large_continue_reading span a:hover{
     color: #fff !important;
}
 .large_center_slider_container .large_continue_reading span a:hover{
     color: #000 !important;
     background:#fff !important;
}
 .spr-number{
     border: 2px solid var(--main-color) !important;
}
 .single_post_tag_layout li a:hover{
     border: 1px solid var(--main-color) !important;
}
 .large_continue_reading span a:hover, .header_layout_style5_custom .header_top_bar_wrapper .search_header_menu > .search_header_wrapper, .header_layout_style5_custom .header_top_bar_wrapper .search_header_menu .menu_mobile_icons, .footer_top_small_carousel_5 .jl_footer_car_title:after, .jl_newsticker_wrapper .builder_ticker_title_home_page{
     background: var(--main-color) !important;
}
 .footer_top_small_carousel_5 .slick-dots li.slick-active button{
     background: var(--main-color);
     border: 1px solid var(--main-color);
}
 ::selection, .jl_custom_title4 #sidebar .widget .widget-title h2:after, .jl_footer_wrapper .jl_footer_car_title:after{
     background-color: var(--main-color) !important;
}
 .grid-sidebar .box .jl_post_title_top .image-post-title, .grid-sidebar .blog_large_post_style .post-entry-content .image-post-title, .grid-sidebar .blog_large_post_style .post-entry-content h1, .blog_large_post_style .post-entry-content .image-post-title, .blog_large_post_style .post-entry-content h1, .blog_large_overlay_post_style.box .post-entry-content .image-post-title a{
     font-size: 30px !important;
}
 .grid-sidebar .box .image-post-title, .show3_post_col_home .grid4_home_post_display .blog_grid_post_style .image-post-title{
     font-size: 22px !important;
}
 .sd{
     font-size: 25px !important;
}
 .header_top_bar_wrapper .navigation_wrapper #jl_top_menu li a, .item_slide_caption .post-meta.meta-main-img, .post-meta.meta-main-img, .post-meta-bot-in, .post-meta span, .single-post-meta-wrapper span, .comment time, .post_large_footer_meta, .blog_large_post_style .large_post_content .jelly_read_more_wrapper a, .love_post_view_header a, .header_date_display, .jl_continue_reading, .menu_post_feature .builder_cat_title_list_style li, .builder_cat_title_list_style li, .main_new_ticker_wrapper .post-date, .main_new_ticker_wrapper .news_ticker_title_style, .jl_rating_front .jl_rating_value, .pop_post_right_slider .headding_pop_post, .jl_main_right_number .jl_number_list, .jl_grid_more .jl_slider_readding, .page_builder_listpost.jelly_homepage_builder .jl_list_more a, .jl_s_slide_text_wrapper .banner-container .jl_ssider_more, .jl_large_builder.jelly_homepage_builder .jl_large_more, .feature-image-link.image_post .jl_small_list_num, .social-count-plus .count, .social-count-plus .label, .jl_instagram .instagram-pics + .clear a, .single-post-meta-wrapper .jm-post-like{
     font-family: var(--font-heading) !important;
}
 #mainmenu > li > a, #content_nav .menu_moble_slide > li a, .header_layout_style3_custom .navigation_wrapper > ul > li > a, .header_magazine_full_screen .navigation_wrapper .jl_main_menu > li > a{
     font-family: var(--font-heading) !important;
     font-size:17px !important;
     font-weight:600 !important;
     text-transform: capitalize !important;
     letter-spacing: -0.025em !important;
}
 .navigation_wrapper #mainmenu.jl_main_menu > li li > a, .social-count-plus span, .jl_social_counter .num-count, .jl_count_style_2 .jlsocial-element-right{
     font-family: var(--font-heading) !important;
}
 .jl_f_cat a, .jl_post_meta .jl_author_img_w a, .jl_post_meta, .jl_post_meta span, .meta-category-small a, #commentform #submit, .wpcf7-form-control.wpcf7-submit, .comment-reply-link, .comment-edit-link, .single_post_share_icons, .single_post_tag_layout li a, .jl-load-link, .jl_m_below_w .text-box .jl_ssider_more,.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .single_post_share_icon_post li a, .single-post-meta-wrapper span, .wp-block-button .wp-block-button__link, .wp-block-file__button, .link_home404, .jellywp_pagination ul, blockquote cite{
     font-family: var(--font-heading) !important;
     font-weight: 500 !important;
     letter-spacing: -0.025em !important;
}
 .content_single_page p, .single_section_content .post_content, .single_section_content .post_content p{
     font-size: 16px;
}
 body, p, .date_post_large_display, #search_block_top #search_query_top, .tagcloud a, .format-quote a p.quote_source, .blog_large_post_style .large_post_content .jelly_read_more_wrapper a, .blog_grid_post_style .jelly_read_more_wrapper a, .blog_list_post_style .jelly_read_more_wrapper a, .pagination-more div a, .meta-category-small-builder a, .full-slider-wrapper .banner-carousel-item .banner-container .more_btn a, .single-item-slider .banner-carousel-item .banner-container .more_btn a{
     font-family:var(--font-body) !important;
     font-weight: 400 !important;
}
 .single_section_content .post_content blockquote p{
     font-size: 22px !important;
     text-transform: none !important;
     line-height: 1.3;
}
 .wp-caption p.wp-caption-text{
     font-size: 14px !important;
}
 h1, h2, h3, h4, h5, h6, .postnav #prepost, .postnav #nextpost, .bbp-forum-title, .jl_cat_img_w .jl_cm_overlay .jl_cm_name, li.woocommerce-mini-cart-item a:not(.remove), .woocommerce-page .product-name a, .comment-meta .comment-author-name, .jl_cpost_title, blockquote p{
     font-weight: 700 !important;
     text-transform:capitalize !important;
     letter-spacing: -0.025em !important;
}
 .footer_carousel .meta-comment, .item_slide_caption h1 a, .tickerfloat, .box-1 .inside h3, .detailholder.medium h3, .feature-post-list .feature-post-title, .widget-title h2, .image-post-title, .grid.caption_header h3, ul.tabs li a, h1, h2, h3, h4, h5, h6, .carousel_title, .postnav a, .format-aside a p.aside_title, .date_post_large_display, .sf-top-menu li a, .large_continue_reading span, .cfs_from_wrapper .cfs_form_title, .comment-meta .comment-author-name, .jl_recent_post_number > li .jl_list_bg_num, .jl_recent_post_number .meta-category-small-text a, .jl_hsubt, .jl_cat_img_w .jl_cm_overlay .jl_cm_name, li.woocommerce-mini-cart-item a:not(.remove), .woocommerce-page .product-name a, .jl_cpost_title, blockquote p{
     font-family:var(--font-heading) !important;
}
 .navigation_wrapper #mainmenu.jl_main_menu > li li > a{
     font-size:14px !important;
     font-weight:500 !important;
     letter-spacing: -0.025em !important;
     text-transform: capitalize !important;
}
 .cat-item-2 span{
     background: #4dcf8f !important;
}
 .cat-item-3 span{
     background: #eba845 !important;
}
 .cat-item-4 span{
     background: #7ebdb4 !important;
}
 .cat-item-6 span{
     background: #d63447 !important;
}
 .cat-item-5 span{
     background: #91bd3a !important;
}
 .cat-item-7 span{
     background: #d66300 !important;
}
 .cat-item-8 span{
     background: #62ce5c !important;
}
 .cat-item-9 span{
     background: #379e63 !important;
}
 