{% extends 'myprofile/myprofile_main.html' %}
{% load static %}
{% block content1 %}



			<div class="jl_post_loop_wrapper">
				<div class="container" id="wrapper_masonry">
					<div class="row">
							<div class="mobile_menu_overlay"></div>
				<div id="content_nav" class="jl_mobile_nav_wrapper">
				<div id="nav" class="jl_mobile_nav_inner">
					<div class="menu_mobile_icons mobile_close_icons closed_menu"> <span class="jl_close_wapper"><span class="jl_close_1"></span><span class="jl_close_2"></span></span>
					</div>
					<ul id="mobile_menu_slide" class="menu_moble_slide">
						<li class="menu-item current-menu-item current_page_item"> <a href="{% url 'home' %}">Home<span class="border-menu"></span></a>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="#">Features<span class="border-menu"></span></a>
							<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'tree' %}">Family Tree</a></li>
												<li class="menu-item"> <a href="post-format-standard.html">Family Heritage</span></a></li>
												<li class="menu-item"> <a href="{% url 'search' ' ' %}">Search Members<span class="border-menu"></span></a>
												</li>
											</ul>
						</li>
						<li class="menu-item"> <a href="{% url 'blog' %}">Blog<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="{% url 'gallery' %}">Gallery<span class="border-menu"></span></a>
										</li>
										<li class="menupost"> <a href="{% url 'events' %}">Family Events<span class="border-menu"></span>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="{% url 'myprofile' %}">My Profile<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #ffe500 !important; color: #000000 !important;"><span class="jl_lb_ar" style="border-top: 3px solid #ffe500 !important;"></span>YOU</span>
                                       </a>
											<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'myprofile' %}">Account Details<span class="border-menu"></span></a>
												</li>
												<li class="menu-item"> <a href="{% url 'logout' %}">Logout<span class="border-menu"></span></a>
												</li>
											</ul>
										</li>
					</ul>
					<div id="sprasa_recent_post_text_widget-11" class="widget post_list_widget">
						<div class="widget_jl_wrapper">
							<div class="ettitle">
								<div class="widget-title">
									<h2 class="jl_title_c">Recent Posts</h2>
								</div>
							</div>
							<div class="bt_post_widget">

								{% for menu in menu %}
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="{% url 'blogview' menu.title %}">
												<img width="120" height="120" src="{{menu.thumbnail.url}}" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="{% url 'blogview' menu.title %}" tabindex="-1">{{menu.title}}</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="{% url 'blogview' menu.title %}" title="Posts by Spraya" rel="author">{{menu.author}}</a></span><span class="post-date"><i class="jli-pen"></i>{{menu.timestamp}}</span>
											</span>
										</div>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>
						<div class="col-md-8 grid-sidebar" id="content">
							<div class="jl_wrapper_cat">
								<div id="content_masonry" class="jl_cgrid pagination_infinite_style_cat ">
									<div class="content_single_page post-5076 page type-page status-publish hentry">




										{% if request.user.username == request.user.first_name %}


										<div class="woocommerce">
											<div class="woocommerce-notices-wrapper"></div>
												<form enctype="multipart/form-data" class="woocommerce-form woocommerce-form-login login" method="post">
                                        			{% csrf_token %}
                                    				<p class="form-row">

                                   					{{form2.as_p}}
                                   					 </p>
													<p class="form-row">
													<button class="woocommerce-button button woocommerce-form-login__submit" name="Edit" value="Edit">Edit</button>
													</p>
                                   				 </form>
											</div>
										</div>


										{% else %}



										<div class="woocommerce">
											<div class="woocommerce-notices-wrapper"></div>
												<form enctype="multipart/form-data" class="woocommerce-form woocommerce-form-login login" method="post">
                                        			{% csrf_token %}
                                    				<p class="form-row">
                                   					 {{form.as_p}}
                                   					 </p>
													<p class="form-row">
													<button class="woocommerce-button button woocommerce-form-login__submit" name="Edit" value="Edit">Edit</button>
													</p>
                                   				 </form>
											</div>
										</div>


										{% endif %}





									</div>
								</div>
							</div>
						<div class="col-md-4" id="sidebar">
							<div class="jl_sidebar_w">
								<div id="sprasa_widget_social_counter_c-2" class="widget jl-widget-social-counter">
										<div class="widget-title">
											<h2 class="jl_title_c" align="center">Thought Of The Day</h2>
										</div>
										<div class="jl_social_counter social_counter_wraper jl_count_style_2 social_counter_item>">

											{% for thought in thought %}

											<h2 align="center">" {{thought.thought}} "</h2>

											{% endfor %}


										</div>
									</div>



								<div id="sprasa_recent_post_text_widget-9" class="widget post_list_widget">
									<div class="widget_jl_wrapper">
										<div class="ettitle">
											<div class="widget-title">
												<h2 class="jl_title_c">Recent Blogs</h2>
											</div>
										</div>
										<div class="bt_post_widget">


											{% for posts in posts %}
											<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
												<div class="jl_m_right_w">
													<div class="jl_m_right_img jl_radus_e">
														<a href="blogblogview/{{posts.title}}+title">
															<img width="120" height="120" src="{{posts.thumbnail.url}}" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
														</a>
													</div>
													<div class="jl_m_right_content">
														<h2 class="entry-title"> <a href="blogblogview/{{posts.title}}+title" tabindex="-1">{{posts.title}}</a></h2>
														<span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="blogblogview/{{posts.title}}+title" title="Posts by Spraya" rel="author">{{posts.author}}</a></span><span class="post-date"><i class="jli-pen"></i>{{posts.timestamp}}</span></span>
													</div>
												</div>
											</div>
											{% endfor %}


										</div>
									</div>
								</div>
								<div id="sprasa_recent_post_text_widget-9" class="widget post_list_widget">
										<div class="widget_jl_wrapper">
											<div class="ettitle">
												<div class="widget-title">
													<h2 class="jl_title_c">Advertisement</h2>
												</div>
											</div>
											<div class="bt_post_widget">


												{% for adin in adin %}
												<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
													<div class="jl_m_right_w">
														<div class="jl_m_right_img jl_radus_e">
															<a href="{{adin.link}}">
																<img width="120" height="120" src="{{adin.photo.url}}" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
															</a>
														</div>
														<div class="jl_m_right_content">
															<h2 class="entry-title"> <a href="{{adin.link}}" tabindex="-1">{{adin.title}}</a></h2>
															</span>
														</div>
													</div>
												</div>
												{% endfor %}



											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>

    









{% endblock content1 %}