{% extends 'register/register_main.html' %}
{% load static %}
{% block content1 %}




            <!-- begin content -->

              <!-- begin content -->
						<div class="page-full col-md-12 post-5076 page type-page status-publish hentry" id="content">
							<div class="jl_cat_mid_title">
								<h3 class="categories-title title" align="center">More Information!!</h3>
							</div>
							<div class="content_single_page post-5076 page type-page status-publish hentry">
								<div class="content_page_padding">
									<div class="woocommerce">
										<div class="woocommerce-notices-wrapper"></div>
										<h6 align="center">Message From Admin</h6>
                                        <br>
										<hr>
                                        <p>Eruppakkattu Family Blog is a private website for the family</p>
                                        <hr>
										<br>
                                        <br>
                                        <br>
                                        <br>
									</div>
								</div>
							</div>
						</div>

			<!-- end content -->

			<!-- end content -->






{% endblock content1 %}