{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!-- Title-->
	<title>ERUPPAKKATTU -FAMILY WEBSITE</title>
	<!-- Favicon-->
	<link rel="icon" href="img/favicon.png" type="image/x-icon" />
	<!-- Stylesheets-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/shop.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/gallery.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/gpics.css' %}" type="text/css" media="all" >
	<script src="https://cdn.tiny.cloud/1/dzh1gtsk9q2m2wl6hh5rzxlh4m7kvl7s1aquq488ynsey29f/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>tinymce.init({
      selector: 'textarea',
      plugins: 'image',

   });</script>
</head>



{% block content %}
<body class="mobile_nav_class jl-has-sidebar">
	<div class="options_layout_wrapper jl_clear_at jl_radius jl_none_box_styles jl_border_radiuss jl_en_day_night">
		<div class="options_layout_container full_layout_enable_front">
			<header class="header-wraper jl_header_magazine_style two_header_top_style header_layout_style3_custom jl_cus_top_share">
				<div class="header_top_bar_wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="menu-primary-container navigation_wrapper">
									<ul id="jl_top_menu" class="jl_main_menu">
										<li class="menu-item current-menu-item current_page_item"> <a href="index.html">Home<span class="border-menu"></span></a>
										</li>
										<li class="menu-item menu-item-4278"> <a href="">About Us<span class="border-menu"></span></a>
										</li>
										<li class="menu-item menu-item-4279"> <a href="">special offer<span class="border-menu"></span></a>
										</li>
										<li class="menu-item menu-item-4275"> <a href="">Info!!<span class="border-menu"></span></a>
										</li>
									</ul>
								</div>
								<div class="jl_top_cus_social">
									<div class="menu_mobile_share_wrapper"> <span class="jl_hfollow">Share us</span>
										<ul class="social_icon_header_top jl_socialcolor">
											<li> <a class="facebook" href="#" target="_blank"><i class="jli-facebook"></i></a>
											</li>
											<li> <a class="vk" href="#" target="_blank"><i class="jli-vk"></i></a>
											</li>
											<li> <a class="telegram" href="#" target="_blank"><i class="jli-telegram"></i></a>
											</li>
											<li> <a class="behance" href="#" target="_blank"><i class="jli-behance"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start Main menu -->
				<div class="jl_blank_nav"></div>
				<div id="menu_wrapper" class="menu_wrapper jl_menu_sticky jl_stick">
					<div class="container">
						<div class="row">
							<div class="main_menu col-md-12">
								<div class="logo_small_wrapper_table">
									<div class="logo_small_wrapper">
										<!-- begin logo -->
										<a class="logo_link" href="index.html">
											<img class="jl_logo_n" src="img/logo_n.png" alt="sprasa" />
											<img class="jl_logo_w" src="img/logo_w.png" alt="sprasa" />
										</a>
										<!-- end logo -->
									</div>
								</div>
								<div class="search_header_menu jl_nav_mobile">
									<div class="menu_mobile_icons">
										<div class="jlm_w"><span class="jlma"></span><span class="jlmb"></span><span class="jlmc"></span>
										</div>
									</div>
									<div class="search_header_wrapper search_form_menu_personal_click"><i class="jli-search"></i>
									</div>

									<div class="jl_day_night jl_day_en"> <span class="jl-night-toggle-icon">
                                    <span class="jl_moon">
                                    <i class="jli-moon"></i>
                                    </span>
										<span class="jl_sun">
                                    <i class="jli-sun"></i>
                                    </span>
										</span>
									</div>
								</div>
								<div class="menu-primary-container navigation_wrapper jl_cus_share_mnu">
									<ul id="mainmenu" class="jl_main_menu">
										<li class="menu-item current-menu-item current_page_item"> <a href="index.html">Home<span class="border-menu"></span></a>
										</li>
										<li class="menu-item menu-item-has-children"> <a href=""> Features<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #222ddc !important;"><span class="jl_lb_ar" style="border-top: 3px solid #222ddc !important;"></span>New</span>
                                       </a>
											<ul class="sub-menu">
												<li class="menu-item"> <a href="post-layout-1.html">Family Tree</a></li>
												<li class="menu-item"> <a href="post-format-standard.html">Family Heritage</span></a></li>
												<li class="menu-item"> <a href="author.html">Search Members<span class="border-menu"></span></a>
												</li>
											</ul>
										</li>
										<li class="menu-item"> <a href="inspiration.html">Blog<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="{% url 'gallery' %}">Gallery<span class="border-menu"></span></a>
										</li>
										<li class="menupost"> <a href="{% url 'events' %}">Family Events<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #f74539 !important;"><span class="jl_lb_ar" style="border-top: 3px solid #f74539 !important;"></span>Hot!</span>
                                       </a>
											<ul class="sub-menu menu_post_feature">
												<li>
													<div id="sprasa_recent_large_widgets-2" class="widget main_post_style">
														<h3 class="widget-title"><span>Recent Posts</span></h3>
														<div class="jl_grid_overlay jl_w_menu jl_clear_at">
															<div class="jl_grid_overlay_col">
																<div class="jl_grid_verlay_wrap jl_radus_e">
																	<div class="jl_f_img_bg" style="background-image: url('img/500x350.png');"></div>
																	<a href="#" class="jl_f_img_link"></a> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #91bd3a;" href="#">Inspiration</a></span>
																	<div class="jl_f_postbox">
																		<h3 class="jl_f_title">
                                                               <a href="#">You can make your art with canyon color</a>
                                                            </h3>
																		<span class="jl_post_meta">
                                                            <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span>
																		<span class="post-date"><i class="jli-pen"></i>July 23, 2016</span><span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span>
																		</span>
																	</div>
																</div>
															</div>
															<div class="jl_grid_overlay_col">
																<div class="jl_grid_verlay_wrap jl_radus_e">
																	<div class="jl_f_img_bg" style="background-image: url('img/500x350.png');"></div>
																	<a href="#" class="jl_f_img_link"></a> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #91bd3a;" href="#">Inspiration</a></span>
																	<div class="jl_f_postbox">
																		<h3 class="jl_f_title">
                                                               <a href="#">A comprehensive guide to the best summer dresses</a>
                                                            </h3>
																		<span class="jl_post_meta">
                                                            <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span>
																		<span class="post-date"><i class="jli-pen"></i>July 23, 2016</span><span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span>
																		</span>
																	</div>
																</div>
															</div>
															<div class="jl_grid_overlay_col">
																<div class="jl_grid_verlay_wrap jl_radus_e">
																	<div class="jl_f_img_bg" style="background-image: url('img/500x350.png');"></div>
																	<a href="#" class="jl_f_img_link"></a> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #91bd3a;" href="#">Inspiration</a></span>
																	<div class="jl_f_postbox">
																		<h3 class="jl_f_title">
                                                               <a href="#">It feel like win 1 million dollar when code no error</a>
                                                            </h3>
																		<span class="jl_post_meta">
                                                            <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span>
																		<span class="post-date"><i class="jli-pen"></i>July 23, 2016</span><span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span>
																		</span>
																	</div>
																</div>
															</div>
															<div class="jl_grid_overlay_col">
																<div class="jl_grid_verlay_wrap jl_radus_e">
																	<div class="jl_f_img_bg" style="background-image: url('img/500x350.png');"></div>
																	<a href="#" class="jl_f_img_link"></a> <span class="jl_f_cat"><a class="post-category-color-text" style="background: #d63447;" href="#">Health</a></span>
																	<div class="jl_f_postbox">
																		<h3 class="jl_f_title">
                                                               <a href="#">Creative photography ideas from smart devices</a>
                                                            </h3>
																		<span class="jl_post_meta">
                                                            <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span>
																		<span class="post-date"><i class="jli-pen"></i>July 23, 2016</span><span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span>
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</li>
										<li class="menu-item menu-item-has-children"> <a href="{% url 'myprofile' %}">My Profile<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #ffe500 !important; color: #000000 !important;"><span class="jl_lb_ar" style="border-top: 3px solid #ffe500 !important;"></span>YOU</span>
                                       </a>
											<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'myprofile' %}">Account Details<span class="border-menu"></span></a>
												</li>
												<li class="menu-item"> <a href="{% url 'logout' %}">Logout<span class="border-menu"></span></a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<section id="content_main" class="clearfix">
				<div class="container">
					<div class="row main_content">


							<div id="content_nav" class="jl_mobile_nav_wrapper">
				<div id="nav" class="jl_mobile_nav_inner">
					<div class="menu_mobile_icons mobile_close_icons closed_menu"> <span class="jl_close_wapper"><span class="jl_close_1"></span><span class="jl_close_2"></span></span>
					</div>
					<ul id="mobile_menu_slide" class="menu_moble_slide">
						<li class="menu-item current-menu-item current_page_item"> <a href="index.html">Home<span class="border-menu"></span></a>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="">Features<span class="border-menu"></span></a>
							<ul class="sub-menu">
								<li class="menu-item menu-item-has-children"> <a href="post-layout-1.html">Post Layout<span class="border-menu"></span></a>
									<ul class="sub-menu">
										<li class="menu-item"> <a href="post-layout-1.html">Post Layout 1<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-layout-2.html">Post Layout 2<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-layout-3.html">Post Layout 3<span class="border-menu"></span></a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"> <a href="post-format-standard.html">Post Format<span class="border-menu"></span></a>
									<ul class="sub-menu">
										<li class="menu-item"> <a href="post-format-standard.html">Post format standard<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-format-gallery.html">Post format gallery<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-format-quote.html">Post Format Quote<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-format-video.html">Post format video<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="post-format-audio.html">Post format audio<span class="border-menu"></span></a>
										</li>
									</ul>
								</li>
								<li class="menu-item"> <a href="author.html">Author Page<span class="border-menu"></span></a>
								</li>
								<li class="menu-item"> <a href="category.html">Category Page<span class="border-menu"></span></a>
								</li>
								<li class="menu-item"> <a href="page-404.html">Page 404<span class="border-menu"></span></a>
								</li>
							</ul>
						</li>
						<li class="menu-item"> <a href="inspiration.html">Inspiration<span class="border-menu"></span></a>
						</li>
						<li class="menu-item"> <a href="category.html">Active<span class="border-menu"></span></a>
						</li>
						<li class="menu-item"> <a href="business.html">Business<span class="border-menu"></span></a>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="shop.html">Shop<span class="border-menu"></span></a>
							<ul class="sub-menu">
								<li class="menu-item"> <a href="cart.html">Cart<span class="border-menu"></span></a>
								</li>
								<li class="menu-item"> <a href="my-account.html">My Account<span class="border-menu"></span></a>
								</li>
							</ul>
						</li>
					</ul>
					<div id="sprasa_recent_post_text_widget-11" class="widget post_list_widget">
						<div class="widget_jl_wrapper">
							<div class="ettitle">
								<div class="widget-title">
									<h2 class="jl_title_c">Recent Posts</h2>
								</div>
							</div>
							<div class="bt_post_widget">
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Best inspire dark photo in the winter season</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Your job will be perfect if you concentrate</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="#">
												<img width="120" height="120" src="img/120x120.png" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="#" tabindex="-1">Enjoy the best time with a special person</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">Spraya</a></span><span class="post-date"><i class="jli-pen"></i>July 23, 2016</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="sprasa_about_us_widget-3" class="widget jellywp_about_us_widget">
						<div class="widget_jl_wrapper about_widget_content">
							<div class="jellywp_about_us_widget_wrapper">
								<div class="social_icons_widget">
									<ul class="social-icons-list-widget icons_about_widget_display">
										<li> <a href="#" class="facebook" target="_blank"><i class="jli-facebook"></i></a>
										</li>
										<li> <a href="#" class="behance" target="_blank"><i class="jli-behance"></i></a>
										</li>
										<li> <a href="#" class="vimeo" target="_blank"><i class="jli-vimeo"></i></a>
										</li>
										<li> <a href="#" class="youtube" target="_blank"><i class="jli-youtube"></i></a>
										</li>
										<li> <a href="#" class="instagram" target="_blank"><i class="jli-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



<!-- begin content -->
						<div class="page-full col-md-12 post-5076 page type-page status-publish hentry" id="content">
							<div class="jl_cat_mid_title">
								<h3 class="categories-title title" align="center">Add Your Blog!!</h3>
							</div>
							<div class="content_single_page post-5076 page type-page status-publish hentry">
								<div class="content_page_padding">
									<div class="woocommerce">
										<div class="woocommerce-notices-wrapper"></div>
										<h6>Enter the Details</h6>
										<form enctype="multipart/form-data" class="woocommerce-form woocommerce-form-login login" method="post">
											{% csrf_token %}

											{{form.as_p}}

											<p class="form-row">
											<button class="woocommerce-button button woocommerce-form-login__submit" name="submitbtn" value="submit">Submit</button>
											</p>
											<p class="woocommerce-LostPassword lost_password">	<a href="{% url 'more_info' %}">More Info</a>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- end content -->






					</div>
				</div>
			</section>
			<!-- Start footer -->
			<footer id="footer-container" class="jl_footer_act enable_footer_columns_dark">
				<br>
				<div class="footer-bottom enable_footer_copyright_dark">
					<div class="container">
						<div class="row bottom_footer_menu_text">
							<div class="col-md-12">
								<div class="jl_ft_w">© Copyright 2020 Impulsive Creations. All rights reserved powered by Impulsive Creations.
									<ul id="menu-footer-menu" class="menu-footer">
										<li class="menu-item menu-item-6"> <a title="" href="">About Us</a>
										</li>
										<li class="menu-item menu-item-7"> <a title="" href="">Private policy</a>
										</li>
										<li class="menu-item menu-item-8"> <a title="" href="">Forums</a>
										</li>
										<li class="menu-item menu-item-9"> <a title="" href="">Community</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer -->
			<div id="go-top"> <a href="#go-top"><i class="jli-up-chevron"></i></a>
			</div>
		</div>
	</div>

{% endblock content %}


	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/fluidvids.js' %}"></script>
	<script src="{% static 'js/slick.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/gallery.js' %}"></script>
	<script src="{% static 'js/gpics.js' %}"></script>
</body>

</html>