{% extends 'blog/blog_main.html' %}
{% load static %}
{% block content1 %}









			<div class="mobile_menu_overlay"></div>
				<div id="content_nav" class="jl_mobile_nav_wrapper">
				<div id="nav" class="jl_mobile_nav_inner">
					<div class="menu_mobile_icons mobile_close_icons closed_menu"> <span class="jl_close_wapper"><span class="jl_close_1"></span><span class="jl_close_2"></span></span>
					</div>
					<ul id="mobile_menu_slide" class="menu_moble_slide">
						<li class="menu-item current-menu-item current_page_item"> <a href="{% url 'home' %}">Home<span class="border-menu"></span></a>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="#">Features<span class="border-menu"></span></a>
							<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'tree' %}">Family Tree</a></li>
												<li class="menu-item"> <a href="post-format-standard.html">Family Heritage</span></a></li>
												<li class="menu-item"> <a href="{% url 'search' ' ' %}">Search Members<span class="border-menu"></span></a>
												</li>
											</ul>
						</li>
						<li class="menu-item"> <a href="{% url 'blog' %}">Blog<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="{% url 'gallery' %}">Gallery<span class="border-menu"></span></a>
										</li>
										<li class="menupost"> <a href="{% url 'events' %}">Family Events<span class="border-menu"></span>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="{% url 'myprofile' %}">My Profile<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #ffe500 !important; color: #000000 !important;"><span class="jl_lb_ar" style="border-top: 3px solid #ffe500 !important;"></span>YOU</span>
                                       </a>
											<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'myprofile' %}">Account Details<span class="border-menu"></span></a>
												</li>
												<li class="menu-item"> <a href="{% url 'logout' %}">Logout<span class="border-menu"></span></a>
												</li>
											</ul>
										</li>
					</ul>
					<div id="sprasa_recent_post_text_widget-11" class="widget post_list_widget">
						<div class="widget_jl_wrapper">
							<div class="ettitle">
								<div class="widget-title">
									<h2 class="jl_title_c">Recent Posts</h2>
								</div>
							</div>
							<div class="bt_post_widget">

							{% for menu in menu %}
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="{% url 'blogview' menu.title %}">
												<img width="120" height="120" src="{{menu.thumbnail.url}}" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="{% url 'blogview' menu.title %}" tabindex="-1">{{menu.title}}</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="{% url 'blogview' menu.title %}" title="Posts by Spraya" rel="author">{{menu.author}}</a></span><span class="post-date"><i class="jli-pen"></i>{{menu.timestamp}}</span>
											</span>
										</div>
									</div>
								</div>
								{% endfor %}


							</div>
						</div>
					</div>
				</div>
			</div>















			<section id="content_main" class="clearfix jl_spost">
				<div class="container">
					<div class="row main_content">
						<div class="col-md-8  loop-large-post" id="content">
							<div class="widget_container content_page">
								<!-- start post -->
								{% for post in post %}
								<div class="post-2838 post type-post status-publish format-standard has-post-thumbnail hentry category-sports tag-gaming" id="post-2838">
									<div class="single_section_content box blog_large_post_style">
										<div class="jl_single_style2">
											<div class="single_post_entry_content single_bellow_left_align jl_top_single_title jl_top_title_feature"> <span class="meta-category-small single_meta_category"><a class="post-category-color-text" style="background:#62ce5c" href="#">{{post.tag}}</a></span>
												<h1 class="single_post_title_main">{{post.title}}</h1>
											</div>
											<div class="single_post_entry_content single_bellow_left_align jl_top_single_title jl_top_title_feature">
												<h1 class="single_post_title_main">{{post.overview|safe}}</h1>
												<span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="#" title="Posts by Spraya" rel="author">{{post.author}}</a></span><span class="post-date"><i class="jli-pen"></i>{{post.timestamp}}</span><span class="post-read-time"><i class="jli-watch-2"></i>2 Mins read</span><span class="meta-comment"><i class="jli-comments"></i><a href="#">{{count}} comments</a></span></span>
											</div>
										</div>
										<div class="post_content_w">
											<div class="post_sw">
												<div class="post_s">
													<div class="jl_single_share_wrapper jl_clear_at">
														<ul class="single_post_share_icon_post">
															<li class="single_post_share_facebook"><a href="#" target="_blank"><i class="jli-facebook"></i></a>
															</li>
															<li class="single_post_share_twitter"><a href="#" target="_blank"><i class="jli-twitter"></i></a>
															</li>
															<li class="single_post_share_pinterest"><a href="#" target="_blank"><i class="jli-pinterest"></i></a>
															</li>
															<li class="single_post_share_linkedin"><a href="#" target="_blank"><i class="jli-linkedin"></i></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="post_content jl_content">




											{{post.content|safe}}







											</div>
										</div>
										<div class="clearfix"></div>
										<div class="single_tag_share ">
											<div class="tag-cat">
												<ul class="single_post_tag_layout">
													<li><a href="#" rel="tag">{{post.tag}}</a>
													</li>
												</ul>
											</div>
										</div>
										{% endfor %}

										<div class="postnav_w">


											{% for previous in previous %}
											<div class="postnav_left">
												<div class="single_post_arrow_content">
													<a href="{% url 'blogview' previous.title %}" id="prepost"> <span class="jl_cpost_nav">
                                        <span class="jl_post_nav_link"><i class="jli-left-arrow"></i>Previous post</span>
														<span class="jl_cpost_title">{{previous.title}}</span>
														</span>
													</a>
												</div>
											</div>
											{% endfor %}

											{% for next in next %}
											<div class="postnav_right">
												<div class="single_post_arrow_content">
													<a href="{% url 'blogview' next.title %}" id="nextpost"> <span class="jl_cpost_nav">
                                        <span class="jl_post_nav_link">Next post<i class="jli-right-arrow"></i></span>
														<span class="jl_cpost_title">{{next.title}}</span>
														</span>
													</a>
												</div>
											</div>
											{% endfor %}


										</div>
										<br>
										<hr>
										<h1>Comments</h1>
										{% for comments in comments %}
										<div class="auth">
											<div class="author-info jl_info_auth">
												<div class="author-avatar">
													{% for ai in ai %}
													<img src="{{comments.user.photo.url}}" width="165" height="165" alt="Spraya" class="avatar avatar-165 wp-user-avatar wp-user-avatar-165 alignnone photo">
													{% endfor %}
												</div>
												<div class="author-description">
													<h5><a href="#"></a>{{comments.user}}</h5>
													<ul class="jl_auth_link clearfix">
														<li><a href="#" target="_blank"><i class="jli-link"></i></a>
														</li>
														<li><a href="#" target="_blank"><i class="jli-linkedin"></i></a>
														</li>
														<li><a href="#" target="_blank"><i class="jli-rss"></i></a>
														</li>
													</ul>
													<p>{{comments.comment}}</p>
												</div>
											</div>
										</div>
										{% endfor %}









										<div id="respond" class="comment-respond">
											<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
											<form method="post" id="commentform" class="comment-form">
												{% csrf_token %}
												<p class="comment-notes"><span id="email-notes">Leave a reply for the author's post.</span>The comments will be monitored by the admin!<span class="required">*</span>
												</p>
												<p class="comment-form-comment">
													<textarea class="u-full-width" id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment"></textarea>
												</p>

												<p class="form-submit">
													<input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
													<input type="hidden" name="comment_post_ID" id="comment_post_ID">
												</p>
											</form>
										</div>
										<!-- #respond -->
									</div>
								</div>
								<!-- end post -->
								<div class="brack_space"></div>
							</div>
						</div>


						<div class="col-md-4" id="sidebar">
							<div class="jl_sidebar_w">
								<div id="sprasa_widget_social_counter_c-2" class="widget jl-widget-social-counter">
										<div class="widget-title">
											<h2 class="jl_title_c" align="center">Thought Of The Day</h2>
										</div>
										<div class="jl_social_counter social_counter_wraper jl_count_style_2 social_counter_item>">

											{% for thought in thought %}

											<h2 align="center">" {{thought.thought}} "</h2>

											{% endfor %}


										</div>
									</div>

								<div id="sprasa_recent_post_text_widget-9" class="widget post_list_widget">
									<div class="widget_jl_wrapper">
										<div class="ettitle">
											<div class="widget-title">
												<h2 class="jl_title_c">Recent Blog Posts</h2>
											</div>
										</div>
										<div class="bt_post_widget">


											{% for side in side %}
											<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
												<div class="jl_m_right_w">
													<div class="jl_m_right_img jl_radus_e">
														<a href="{% url 'blogview' side.title %}">
															<img width="120" height="120" src="{{side.thumbnail.url}}" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
														</a>
													</div>
													<div class="jl_m_right_content">
														<h2 class="entry-title"> <a href="{% url 'blogview' side.title %}" tabindex="-1">{{side.title}}</a></h2>
														<span class="jl_post_meta"><span class="jl_author_img_w"><i class="jli-user"></i><a href="{% url 'blogview' side.title %}" title="Posts by Spraya" rel="author">{{side.author}}</a></span><span class="post-date"><i class="jli-pen"></i>{{side.timestamp}}</span></span>
													</div>
												</div>
											</div>
											{% endfor %}




										</div>
									</div>
								</div>
								<div id="sprasa_recent_post_text_widget-9" class="widget post_list_widget">
										<div class="widget_jl_wrapper">
											<div class="ettitle">
												<div class="widget-title">
													<h2 class="jl_title_c">Advertisement</h2>
												</div>
											</div>
											<div class="bt_post_widget">


												{% for adin in adin %}
												<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
													<div class="jl_m_right_w">
														<div class="jl_m_right_img jl_radus_e">
															<a href="{{adin.link}}">
																<img width="120" height="120" src="{{adin.photo.url}}" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy">
															</a>
														</div>
														<div class="jl_m_right_content">
															<h2 class="entry-title"> <a href="{{adin.link}}" tabindex="-1">{{adin.title}}</a></h2>
															</span>
														</div>
													</div>
												</div>
												{% endfor %}



											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end content -->
			

			<div id="go-top"> <a href="#go-top"><i class="jli-up-chevron"></i></a>
			</div>
		</div>
	</div>








{% endblock content1 %}