{% extends 'familyevents/event_main.html' %}
{% load static %}
{% block content1 %}



		<div class="mobile_menu_overlay"></div>
				<div id="content_nav" class="jl_mobile_nav_wrapper">
				<div id="nav" class="jl_mobile_nav_inner">
					<div class="menu_mobile_icons mobile_close_icons closed_menu"> <span class="jl_close_wapper"><span class="jl_close_1"></span><span class="jl_close_2"></span></span>
					</div>
					<ul id="mobile_menu_slide" class="menu_moble_slide">
						<li class="menu-item current-menu-item current_page_item"> <a href="{% url 'home' %}">Home<span class="border-menu"></span></a>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="#">Features<span class="border-menu"></span></a>
							<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'tree' %}">Family Tree</a></li>
												<li class="menu-item"> <a href="post-format-standard.html">Family Heritage</span></a></li>
												<li class="menu-item"> <a href="{% url 'search' ' ' %}">Search Members<span class="border-menu"></span></a>
												</li>
											</ul>
						</li>
						<li class="menu-item"> <a href="{% url 'blog' %}">Blog<span class="border-menu"></span></a>
										</li>
										<li class="menu-item"> <a href="{% url 'gallery' %}">Gallery<span class="border-menu"></span></a>
										</li>
										<li class="menupost"> <a href="{% url 'events' %}">Family Events<span class="border-menu"></span>
						</li>
						<li class="menu-item menu-item-has-children"> <a href="{% url 'myprofile' %}">My Profile<span class="border-menu"></span>
                                       <span class="jl_menu_lb" style="background: #ffe500 !important; color: #000000 !important;"><span class="jl_lb_ar" style="border-top: 3px solid #ffe500 !important;"></span>YOU</span>
                                       </a>
											<ul class="sub-menu">
												<li class="menu-item"> <a href="{% url 'myprofile' %}">Account Details<span class="border-menu"></span></a>
												</li>
												<li class="menu-item"> <a href="{% url 'logout' %}">Logout<span class="border-menu"></span></a>
												</li>
											</ul>
										</li>
					</ul>
					<div id="sprasa_recent_post_text_widget-11" class="widget post_list_widget">
						<div class="widget_jl_wrapper">
							<div class="ettitle">
								<div class="widget-title">
									<h2 class="jl_title_c">Recent Posts</h2>
								</div>
							</div>
							<div class="bt_post_widget">

								{% for menu in menu %}
								<div class="jl_m_right jl_sm_list jl_ml jl_clear_at">
									<div class="jl_m_right_w">
										<div class="jl_m_right_img jl_radus_e">
											<a href="{% url 'blogview' menu.title %}">
												<img width="120" height="120" src="{{menu.thumbnail.url}}" class="attachment-sprasa_small_feature size-sprasa_small_feature wp-post-image" alt="" loading="lazy" />
											</a>
										</div>
										<div class="jl_m_right_content">
											<h2 class="entry-title"><a href="{% url 'blogview' menu.title %}" tabindex="-1">{{menu.title}}</a></h2>
											<span class="jl_post_meta">
                                       <span class="jl_author_img_w"><i class="jli-user"></i><a href="{% url 'blogview' menu.title %}" title="Posts by Spraya" rel="author">{{menu.author}}</a></span><span class="post-date"><i class="jli-pen"></i>{{menu.timestamp}}</span>
											</span>
										</div>
									</div>
								</div>
								{% endfor %}



							</div>
						</div>
					</div>
				</div>
			</div>





<div class="container">
  <h1 class="title">Family Events</h1>
  <hr>
  <br>

                                         <div class="jl_lmore_wrap">
											<div class="jl_lmore_c"> <a href="{% url 'addevent' %}" class="jl-load-link"><span>Add Event</span></a>
												<span class="jl-load-animation"><span></span></span>
											</div>
										</div>
            <span class="jl-load-animation"><span></span></span>
            <hr>
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">


        
        






		  {% for event in event %}
        <div class="swiper-slide" style="background-image: url({{event.pic.url}})" data-year="{{event.date}}">
          <div class="swiper-slide-content"><span class="timeline-year">By @{{event.author}}</span>
            <div class="timeline-title">{{event.title}}</div>
            <div class="timeline-text">{{event.content}}</div>
          </div>
        </div>
		  {% endfor %}




      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <br>
  <br>
</div>
<!-- partial -->




{% endblock content1 %}