
{% load static %}
{% block content1 %}







<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Erupakkatu Kudumbayogam Family Events</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800'><link rel="stylesheet" href="{% static 'css/events.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <h1 class="title">Family Events</h1>
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">






		  {% for event in event %}
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=12" data-year="{{event.date}}">
          <div class="swiper-slide-content"><span class="timeline-year">By @{{event.author}}</span>
            <h4 class="timeline-title">{{event.title}}</h4>
            <p class="timeline-text">{{event.content}}</p>
          </div>
        </div>
		  {% endfor %}




      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js'></script><script src="{% static 'js/events.js' %}"></script>

</body>
</html>






{% endblock content1 %}









