{% extends 'blog/blog_main.html' %}
{% load static %}
{% block content1 %}





				<FORM METHOD="POST" ACTION="http://api.familyecho.com/" TARGET="_blank">

					<DIV CLASS="tm" STYLE="border:1px solid #999; padding:12px; width:auto;">

						<P STYLE="margin:0;" hidden="hidden"><B>GEDCOM or FamilyScript:</B></P>
						{% for tree in tree %}

						<TEXTAREA CLASS="tm" NAME="family" COLS="80" ROWS="8" STYLE="width:100%" hidden="hidden">{{tree.script}}</TEXTAREA>

						{% endfor %}

						<INPUT TYPE="hidden" NAME="operation" VALUE="temp_view">

						<P CLASS="tm">
						<B>Response Format:</B>
						<SELECT NAME="format">
							<OPTION VALUE="redirect" SELECTED>Redirect</OPTION>
						</SELECT>
						</P>

						<P CLASS="td">
						<B>All the parameters below are optional:</B>
						</P>

						<P CLASS="tm">
						Focus individual:
						<INPUT TYPE="text" NAME="focus" SIZE="16">
						</P>

						<P CLASS="tm" hidden="hidden">
						Logo URL:
							{% for tree in tree %}
						<INPUT TYPE="text" NAME="logo_url" SIZE="32" VALUE="{{tree.logo_url}}">
							{% endfor %}
						-
						Size:
						<INPUT TYPE="text" NAME="logo_width" SIZE="6" VALUE="50">
						x
						<INPUT TYPE="text" NAME="logo_height" SIZE="6" VALUE="50">
						pixels
						</P>

						<P CLASS="tm">
						<INPUT TYPE="checkbox" NAME="hide_header" VALUE="1">
						Hide header
						&nbsp;
						<INPUT TYPE="checkbox" NAME="hide_sidebar" VALUE="1">
						Hide sidebar
						&nbsp;
						<INPUT TYPE="checkbox" NAME="hide_navbar" VALUE="1">
						Hide navigation bar
						&nbsp;
						<INPUT TYPE="checkbox" NAME="no_centering" VALUE="1">
						No auto re-centering
						</P>

						<P CLASS="tm">
						Show detail:
						<SELECT NAME="show_detail">
							<OPTION VALUE=""></OPTION>
							<OPTION VALUE="none">None</OPTION>
							<OPTION VALUE="life_dates">Life dates</OPTION>
							<OPTION VALUE="life_years">Life years</OPTION>
							<OPTION VALUE="birth">Birth</OPTION>
							<OPTION VALUE="death">Death</OPTION>
							<OPTION VALUE="email">Email</OPTION>
							<OPTION VALUE="telephone">Telephone</OPTION>
							<OPTION VALUE="address">Address</OPTION>
							<OPTION VALUE="profession">Profession</OPTION>
							<OPTION VALUE="company">Company</OPTION>
							<OPTION VALUE="interests">Interests</OPTION>
							<OPTION VALUE="activities">Activities</OPTION>
						</SELECT>
						&nbsp;
						Photos:
						<SELECT NAME="show_photo">
							<OPTION VALUE=""></OPTION>
							<OPTION VALUE="1">Show</OPTION>
							<OPTION VALUE="0">Hide</OPTION>
						</SELECT>
						&nbsp;
						Middle names:
						<SELECT NAME="show_middle">
							<OPTION VALUE=""></OPTION>
							<OPTION VALUE="1">Show</OPTION>
							<OPTION VALUE="0">Hide</OPTION>
						</SELECT>
						&nbsp;
						Surnames:
						<SELECT NAME="surname_birth">
							<OPTION VALUE=""></OPTION>
							<OPTION VALUE="1">At birth</OPTION>
							<OPTION VALUE="0">Now</OPTION>
						</SELECT>
						</P>

						<P CLASS="tm">
						Zoom factor:
						<SELECT NAME="zoom_factor">
							<OPTION VALUE=""></OPTION>
							<OPTION VALUE="0.25">0.25</OPTION>
							<OPTION VALUE="0.5">0.5</OPTION>
							<OPTION VALUE="0.75">0.75</OPTION>
							<OPTION VALUE="1.0">1.0</OPTION>
							<OPTION VALUE="1.25">1.25</OPTION>
							<OPTION VALUE="1.5">1.5</OPTION>
							<OPTION VALUE="1.75">1.75</OPTION>
							<OPTION VALUE="2.0">2.0</OPTION>
						</SELECT>
						&nbsp;
						Parent generations:
						<SELECT NAME="parent_gen">
							<OPTION VALUE=""></OPTION>
							<OPTION VALUE="1">1</OPTION>
							<OPTION VALUE="2">2</OPTION>
							<OPTION VALUE="3">3</OPTION>
							<OPTION VALUE="4">4</OPTION>
							<OPTION VALUE="5">5</OPTION>
							<OPTION VALUE="6">6</OPTION>
							<OPTION VALUE="8">8</OPTION>
							<OPTION VALUE="10">10</OPTION>
							<OPTION VALUE="12">12</OPTION>
							<OPTION VALUE="15">15</OPTION>
						</SELECT>
						&nbsp;
						Child gens:
						<SELECT NAME="child_gen">
							<OPTION VALUE=""></OPTION>
							<OPTION VALUE="1">1</OPTION>
							<OPTION VALUE="2">2</OPTION>
							<OPTION VALUE="3">3</OPTION>
							<OPTION VALUE="4">4</OPTION>
							<OPTION VALUE="5">5</OPTION>
							<OPTION VALUE="6">6</OPTION>
							<OPTION VALUE="8">8</OPTION>
							<OPTION VALUE="10">10</OPTION>
							<OPTION VALUE="12">12</OPTION>
							<OPTION VALUE="15">15</OPTION>
						</SELECT>
						&nbsp;
						Other gens:
						<SELECT NAME="other_gen">
							<OPTION VALUE=""></OPTION>
							<OPTION VALUE="0">0</OPTION>
							<OPTION VALUE="1">1</OPTION>
							<OPTION VALUE="2">2</OPTION>
							<OPTION VALUE="3">3</OPTION>
							<OPTION VALUE="4">4</OPTION>
							<OPTION VALUE="5">5</OPTION>
							<OPTION VALUE="6">6</OPTION>
							<OPTION VALUE="8">8</OPTION>
							<OPTION VALUE="10">10</OPTION>
							<OPTION VALUE="12">12</OPTION>
							<OPTION VALUE="15">15</OPTION>
						</SELECT>
						</P>

                        <p>
                            Box color for males:
                            <input type="text" name="male_color" id="male_color" value="" />
                            &nbsp;
                            Box color for females:
                            <input type="text" name="female_color" id="female_color" value="" />
                        </p>

                        <p>
                            Text color for living:
                            <input type="text" name="living_color" id="living_color" value="" />
                            &nbsp;
                            Text color for deceased:
                            <input type="text" name="deceased_color" id="deceased_color" value="" />
                        </p>

						<P CLASS="td"><INPUT TYPE="submit" VALUE="View Family Tree"></P>

					</DIV>
					<br>
					<br>
					<br>

				</FORM>





{% endblock content1 %}